<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SISTEMA_EXAMEN.Properties.Settings.DBExamen" connectionString="Data Source=.;Initial Catalog=DBExamen;User ID=sa;Password=josue909"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>